$fontSize15: 15px;
$fontSize24: 24px;

// 글꼴 색상
$fontColorWhite: #fff;
$fontColorLight: #aaa;
$fontColor: #666;
$fontColorDark: #1a1a1a;

$placeholder: #bebebe;

// 테두리 색상
$borderColor: #e5e5e5;
$borderColorLight: rgba(229, 229, 229, 0.2);
$borderColorDark: #1a1a1a;

// 배경 색상
$grayBg: #f7f7f7;
$headerBg: rgba(255, 255, 255, 0.95);
$whiteBg: #fff;
$searchBg: rgba(0, 0, 0, 0.5);
